/* fonts */
@font-face {
  font-family: 'Poppins';
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.container {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container::before,
.container::after {
  content: '';
  position: absolute;
  width: 865px;
  height: 714px;
  background-image: url('../assets/img/corner-decor.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.container::before {
  top: -316px;
  left: -431px;
  transform: rotate(-24deg);
}

.container::after {
  top: -474px;
  right: -530px;
  transform: rotate(-77.43deg);
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: 93px;
}

.logo {
  height: 60px;
}

.logo__svg {
  width: 190px;
  height: 160px;
  object-fit: contain;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 76px;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 104%;
  color: #162C4E;
  opacity: 0.39;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 423px;
  margin-top: 0;
  margin-bottom: 32px;
}

.timer {
  display: flex;
  justify-content: space-between;
  width: 588px;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  color: #162C4E;
  margin-bottom: 72px;
}

.timer__unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer__unit-value {
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}

.timer__unit-descr {
  position: relative;
  width: 132px;
  height: 54px;
  background-image: url("../assets/svg/timer-decor.svg");
  background-repeat: no-repeat;
}

.timer__unit-descr::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.timer__unit--days .timer__unit-descr::before {
  content: "Days";
}
.timer__unit--hours .timer__unit-descr::before {
  content: "Hours";
}
.timer__unit--minutes .timer__unit-descr::before {
  content: "Minutes";
}
.timer__unit--seconds .timer__unit-descr::before {
  content: "Seconds";
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 150%;
}

.event__text {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  margin-bottom: 12px;
}

.event__link {
  position: relative;
  display: flex;
  align-items: center;
  width: 240px;
  height: 60px;
  padding: 0 41px 0 28px;
  border-radius: 40px;
  color: #ffffff;
  text-decoration: none;
  background-color: #1D4169;
}

.event__link::after {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0,-50%);
  content: '';
  width: 20px;
  height: 20px;
  background-image: url("../assets/svg/arrow-right.svg");
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 192px;
  padding-top: 61px;
  padding-bottom: 72px;
  background-color: #162C4E;
}

.form {
  position: relative;
  width: 440px;
}

.form__input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  width: 100%;
  height: 59px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
  padding: 16px 78px 16px 27px;
}

.form__input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.form__btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0,-50%);
  width: 43px;
  height: 43px;
  border-radius: 50%;
  padding: 0;
  background-color: #DF2224;
  background-image: url('../assets/svg/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}


@media (max-width: 1400px) {
  .container::before {
    width: 478px;
    height: 394px;
    top: -198px;
    left: -251px;
    transform: rotate(-24deg);
  }
  
  .container::after {
    top: -500px;
    right: -515px;
    transform: rotate(-86.33deg);
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 64px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .main {
    padding-bottom: 168px;
  }

  .header {
    padding-top: 100px;
    margin-bottom: 166px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 40px;
    width: 286px;
  }

  .timer {
    width: 358px;
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .timer__unit-value {
    margin-bottom: 6px;
  }
  
  .timer__unit-descr {
    width: 64px;
    height: 40px;
    background-image: url("../assets/svg/timer-decor_tablet.svg");
  }
  
  .timer__unit-descr::before {
    font-size: 12px;
    line-height: 12px;
  }
  
  .timer__unit--days .timer__unit-descr::before {
    content: "DD";
  }
  .timer__unit--hours .timer__unit-descr::before {
    content: "HH";
  }
  .timer__unit--minutes .timer__unit-descr::before {
    content: "MM";
  }
  .timer__unit--seconds .timer__unit-descr::before {
    content: "SS";
  }

  .event__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .footer {
    align-items: center;
    min-height: 160px;
    padding: 0;
  }

  .form {
    width: 360px;
  }
  
  .form__input {
    font-size: 14px;
    height: 41px;
    padding: 10px 57px 10px 20px;
  }
  
  .form__input::placeholder {
    font-size: 14px;
  }
  
  .form__btn {
    right: 4px;
    top: 50%;
    transform: translate(0,-50%);
    width: 33px;
    height: 33px;
    background-size: 15.35px 15.35px;
  }
}

@media (max-width: 360px) {
  .main {
    padding: 0 10px;
    padding-bottom: 86px;
  }

  .container::before {
    width: 366px;
    height: 302px;
    top: -166px;
    left: -202px;
  }
  
  .container::after {
    width: 642px;
    height: 530px;
    top: -376px;
    right: -407px;
    transform: rotate(-84.96deg);
  }

  .header {
    padding-top: 80px;
    margin-bottom: 66px;
  }

  .logo {
    height: 40px;
  }

  .logo__svg {
    width: 128px;
    height: 40px;
  }

  .title {
    margin-bottom: 16px;
  }

  .timer {
    width: 310px;
  }
  
  .event__text {
    padding-left: 20px;
    margin-bottom: 14px;
  }

  .footer {
    min-height: 141px;
  }

  .form {
    width: 280px;
  }
}